* {
    border-style: none;
    text-decoration: none;
}

body {
    background-size: 100% 100%;
    font-family: Chilanka, sans-serif;
}
form {
    width: 35%;
    background: rgba(0, 0, 0, 0.7);
    border:3px solid forestgreen;
    border-radius: 6px;
    margin: 60px auto;
    padding-bottom: 40px;
}


h3 {
    text-align: center;
    background: rgba(255,255,255, 0.5);
    margin: 0;
    padding: 20px 0;
    border-radius: 6px 6px 0 0 ;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    outline: forestgreen;
}

input::placeholder {
    color: darkgrey;
}

a{
    color: forestgreen;
    font-weight: bold;
}

.click {
    background: forestgreen;
    color: honeydew;
    font-family: Chilanka, sans-serif;
}

.click:hover {
    cursor: pointer;
}

.parentDiv {
    width: 80%;
    margin: 0 auto;
}

.haveAccount {
    text-align: center;
}